.DS_Store
Backend-Cushla/
Frontend-Sophia/
cushla_playground1/
*.sh
*.env
.env.*
venv/
__pycache__/
*.pyc
.idea/
.vscode/
node_modules/
dist/
build/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.iml
.next/
